{% extends "base.html" %}
{% block title %}ALM REPORT Generator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

 <div class="jumbotron">
   <div class="container">
        <h1>ALM Report Generator</h1>
        <p>Find out how good your publisher is at making your papers
        be ALMable.</p>
   </div>
 </div>
<h3>select a publisher</h3>

<div id="scrollable-dropdown-menu">
<input class="typeahead" type="text" placeholder="Publisher, e.g. eLife">
</div>

<div class="btn-group" id="PubLinkId" role="group" aria-label="...">
  <a class="btn btn-success" href="/reports/host_id/234242">get me the report!!</a>
</div>

<div class="btn-group">
    <a class="btn btn-xs btn-success" href="#">Approve</a>
    <a class="btn btn-xs btn-danger" href="#">Deny</a>
</div>
<br>
<div class="btn-group">
    <a class="btn btn-sm btn-success" href="#">Approve</a>
    <a class="btn btn-sm btn-danger" href="#">Deny</a>
</div>
<br>
<div class="btn-group">
    <a class="btn btn-success" href="#">Approve</a>
    <a class="btn btn-danger" href="#">Deny</a>
</div>

<button class="btn btn-large btn-block btn-primary" type="button">Block level button</button>
<button class="btn btn-large btn-block" type="button">Block level button</button>

<script type="text/javascript">
	var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;
 
    // an array that will be populated with substring matches
    matches = [];
 
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
 
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });
 
    cb(matches);
  };
};
 
var publishers = {{ names|safe }};
 
$('#scrollable-dropdown-menu .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(publishers)
});
</script>

<script type="text/javascript">
	name_id_map = {"elife": 123,
					"evil Elsecier" : 666};

	var myVal = $('#scrollable-dropdown-menu .typeahead').typeahead('val');
	console.log(myVal);
	// $('#PubLinkId')()
</script>

{% endblock %}
